
.btn {
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: 'Hiragino Kaku Gothic Pro';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
}

.btn-outline-info {
    color: #243D4C;
    font-family: 'Hiragino Kaku Gothic Pro';
margin-right: 1em;
}

.btn-outline-info:hover {
  background-color: #4f837f;
}


.btn-primary {
  background-color: #243D4C;
  margin-top: 28px;
}

.btn-primary:hover {
  background-color: #4f837f;
}

.btn-primary:focus {
  background-color: #52A49F;
  color: white;
}

.btn-primary:active {
  background-color: #467370 !important;
}

.btn-light{
  margin-left: 22em;
  margin-top: 1em;
}

 .container{
padding: 8em;
padding-top: 0em;
}

header{
/* padding-top: 2em; */
  text-align: left;
  padding-bottom: 2em;
}

li{
}

span{
  font-weight: lighter;
}

.menu-header{
  padding-left: 15px;
      padding-top: 60px;
}

body {
  font-family: 'Crimson Text', monospace;
  letter-spacing: 0.0625em;
  font-weight: lighter;
}


h1{
      padding-top: 1em;
}

h1, h2, h3,h5,li, .price{
color:  #243D4C
}

a {
  color: #243D4C;
}

p, ul{
  font-family: 'Crimson Text', monospace;
  font-weight: lighter;
  text-align: left;
}

span{
  color: rgba(0,0,0,.5);
}

hr {
width: 100%;
margin-left: 1em;
height: 2px;
background-color:#D3A63A;
}

.primary{
  width: 276px;
  margin-left: 1em;
  height: 10px;
  background-color:#D3A63A;
}

li{
  font-weight: bold;

  padding: 5px;
}


.list-group-item {
  border: none;


}

h6{
  padding-left: 1em;
}

.social{
  padding: 12em;
  padding-top: 4em;
}
}

.title{
  padding-top: 2em;
  font-size: 3em;
}

.logo{
  margin-left: 30%;
}

/* @media print {
img {
    page-break-before: always;
  }
  list-group-item{
    page-break-inside: avoid;
  }
h3{
  page-break-after: avoid;
}
}


@page {
  size: 5.5in 8.5in;
  margin: 70pt 60pt 70pt;

} */
