 .container{
padding: 8em;
}

header{
padding-top: 2em;
  text-align: left;
  padding-bottom: 2em;
}

li{
}

span{
  font-weight: lighter;
}

.menu-header{
  padding-left: 15px;
      padding-top: 60px;
}

body {
  font-family: 'Crimson Text', monospace;
  letter-spacing: 0.0625em;
  font-weight: lighter;
}


h1, h2, h3,h5,li, .price{
color:  #243D4C
}

a {
  color: #243D4C;
}

p, ul{
  font-family: 'Crimson Text', monospace;
  font-weight: lighter;
  text-align: left;
}

span{
  color: rgba(0,0,0,.5);
}

hr {
width: 100%;
margin-left: 1em;
height: 2px;
background-color:#D3A63A;
}

.primary{
  width: 276px;
  margin-left: 1em;
  height: 10px;
  background-color:#D3A63A;
}

li{
  font-weight: bold;

  padding: 5px;
}


.list-group-item {
  border: none;


}
